@charset "UTF-8";

.menu_logo{
    font-family: 'Colonna';
    /* margin-top: 50px; */
    margin-top: 40px;
    margin-left: 25px;
    font-size: 30px;
    color: black;
    margin-bottom: -15px;
}

.menu_icon{
    font-size: 70px;
    line-height: 50px;
    margin-bottom: 50px;
    color: black;
    background-color:transparent;
    border-style:none;
}
.main_menu {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    /* margin-top: 28px; */
}
/* 每个菜单的样式(宽度这里调,子菜单宽度都听这个) */
.items {
    width: 130px;
    color: #fff;
    position: relative;
}

/* 菜单与鼠标移入 */
.menu_ele{
    margin-top: -45px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    position: relative;
    opacity: 0;
}
/* 父控子，浮入元素后控制下拉列表 */
.items:hover .menu_ele{
    color: black;
    z-index: 999;
    cursor: pointer;
    opacity: 1;
    transition: all .7s;
}

/* 下拉菜单与鼠标移入 */
.drop{
    /* font-family: 'Colonna'; */
    width: 100%;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    text-indent:2em;
    color: black;
}
.drop:hover{
    background: black;
    cursor: pointer;
    color: #fff;
    left: 0px
}

.paginator_st{
    /* 居中的方法 */
    display:flex;justify-content: center; align-items:center;
    margin-top: 50px;
}
.breadcrumb{
    margin-top: 30px;
}
.content_body{
    margin-top: 60px;
}
@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1700px;
        max-height: 880px;
        
    }
}
.introvs{
    width: 100%;
    height: 880px;
}
.view_btn{
    margin-left: 110px;
    margin-top: 10px;
    width: 100px;
    background-color: black;
    color: #fff;
}

.pageicon{
    font-size: 30px;
    color: black;
}
.pagep{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.jumbotron-fluid{
    height: 800px; 
    background-color: #F0EFED;
    background-image: url('https://ladder3.oss-cn-beijing.aliyuncs.com/img2imp/vision6.png')
}
.vison_jumbo_content{
    font-family: 'PoiretOne';
    text-align: center;

}
.vison_jumbo_title{
    margin-top: 280px;
    margin-left: -10px;
    color: #fff;
    font-family: 'PoiretOne';
    font-size: 160px;
}

.fixed {
    position: sticky;
    top: 0;
    /* margin-top: 40px; */
    /* 其他样式设置 */
}
.cri{
    background: #fff;
    padding: 30px 35px;
    position: absolute;
    bottom: -40px;
    right: 25%;
    left: 25%;
    top: auto;
    text-align: center;
}
.vision-time{
    font-size: 8px;
}
.vision-title a{
    color: black;
    /* font-family: 'STKaiti'; */
    font-weight: 500;
}
.vision-dec{
    color: rgb(31, 31, 31);
    /* font-family: 'STKaiti'; */
}
.vision-card{
    margin-bottom: 25px;
    background-color: #FFFFFF;
    width: 75%;
    /* max-height: 110px; */
}
.vision-num{
    text-align: center;
    margin-top: 50%;
    /* height: 80%; */
}
.vision-left-content{
    margin-top: 50px;
}
/* .vision-left-content-title{
    font-family: 'PoiretOne';
} */
.vision-left-content-cont{
    padding-right: 100px;
    text-indent:10px;
    font-size: 15px;
    
}
.done_milestone{
    color: aquamarine;
    text-indent: 20px;
    font-size: 10px;

}
.milestone{
    text-indent: 20px;
    font-size: 10px;
}

.phone_return_btn{
    display:none;
    text-align: center;
    background-color: #000000;
}
.top_hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #000000, #ffffff, #000000);
    margin: 0;
    margin-top: 3px;
}
.top_menu_logo{
    color: #FFFFFF;
    font-family: 'Colonna';
    font-size: 30px;

}
.footer{
    background-color: #000000;
    height: 100%;
    color: #fff;
    text-align: center;
}
.footer_cont{
    color: #b9b9b9;
    text-align: center;
}
.footer_icon{
    margin-right: 10px;
}
.about{
    cursor: pointer;
    text-decoration: underline
}


@media(max-width: 462px){
    .jumbotron-fluid{
        background-image: url('https://ladder3.oss-cn-beijing.aliyuncs.com/img2imp/vision5.png');
        height: 250px;
    }
    .content_body{
        margin-left: 3%;
    }
    .vision-left-content{
        margin-left: 3%;
        font-size: 30px;
    }
    .vison_jumbo_title{
        font-size: 70px;
        margin-top: 0;
    }
    .vison_jumbo_cont{
        font-size: 16px;
        width: 70%;
    }
    .vision-card{
        width: 100%;
    }
    .vision-left-content-cont{
        font-size: 15px;
        padding-right: 7px;
    }
    .phone_return_btn{
        display: block;
    }
}